

  <header class="sticky top-2 pt-4 py-4 border-b-[3px] border-amber-400">
    <nav class="flex justify-center">
      <a class="font-semibold text-2xl nav-link text-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-amber-300 hover:text-black duration-100" href="#">Expertise</a>
      <a class="font-semibold text-2xl nav-link text-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-amber-300 hover:text-black duration-100" href="#">Projects</a>
      <a class="font-semibold text-2xl nav-link text-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-amber-300 hover:text-black duration-100" href="#">Skills</a>
      <a class="font-semibold text-2xl nav-link text-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-amber-300 hover:text-black duration-100" href="#">Curriculum</a>
    </nav>
  </header>


<style>
  .nav-link {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    text-decoration: none;
  }
</style>