---
const personalImageAlt = "Fernando de la Torre Cueva"
import Badge from "./Badge.astro"
import LinkedInIcon from "./Icons/LinkedIn.astro"
import MailIcon from "./Icons/Mail.astro"
import SocialPill from "./SocialPill.astro" 
---

<div class="max-w-xl pb-6">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="img/fer.webp"
      alt={personalImageAlt}
    />
    <a
      href="#"
      target="_blank"
      rel="noopener"
      class="flex items-center text-white transition md:justify-center md:hover:scale-105"
    >
      <Badge>Able to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-white sm:text-5xl dark:text-white"
  >
    Hi! I'm Fernando de la Torre Cueva
  </h1>
  <p
    class="mt-6 text-xl text-white dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +6 years of expertise. <strong
      >Data Enginneer and Data Scientist</strong
    > from Asturias, España 🇪🇸. Expert in App development for use cases
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="#">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="#">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>