<div class="flex flex-wrap justify-center pt-20">
    <div class="grid grid-cols-5 gap-20 justify-center max-w-200">
        <img id="1" src="/logo/js.svg" alt="JavaScript" class="animate-slide-right size-20" />
        <div class="bg-white rounded-full">
        <img src="/logo/astro.svg" alt="Astro" class="animate-slide-right size-20" /></div>
        <img src="/logo/python.svg" alt="Python" class="animate-slide-right size-20" />
        <div class="bg-white rounded-full">
        <img src="/logo/next.svg" alt="nextjs" class="animate-slide-right size-20" /></div>
        <img src="/logo/r.svg" alt="R" class="animate-slide-right size-20" />
        <img src="/logo/csharp.svg" alt="C#" class="animate-slide-right size-20" />
        <img src="/logo/java.svg" alt="Java" class="animate-slide-right size-20" />
        <img src="/logo/react.svg" alt="React" class="animate-slide-right size-20" />
        <img src="/logo/ts.svg" alt="TypeScript" class="animate-slide-right size-20" />
        <img src="/logo/cpp.svg" alt="C++" class="animate-slide-right size-20" />
    </div>
</div>